@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>

    <p>This exercise is to create a web application with .net core. The application is to view, edit and create accouts. </p>
</div>
