
html {
    overflow-y: scroll;
    height: 100%;
}

body {
  background-image: url("https://unsplash.com/photos/jR4Zf-riEjI/download?force=true");
  background-size: cover;
    margin: 0 auto;
}

*{
  box-sizing: border-box;
}

.header{
  text-align: center;
  background: #1abc9c;
  font-size: 15px;
  opacity: 100%;
}

.title{
  margin: 0 auto;
  width: 700px;
  height: 100%;
  background: rgb(128, 128, 128, .5);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}


.image-container{
  display:flex;
  margin:  30px 30px;
  border-radius: 20px;
  background: white;
}

.imagee{
  margin-left: 22px;
  height: 110px;
  width: 110px;
  object-fit:cover;
  border-radius: 50%;
  transform: rotate(90deg);
}

.image-container-text{
  margin-left: 15px;
  margin-top: 35px;
}

.text-container{
  border-radius: 20px;
  padding: 20px;
  margin: 30px 30px;
  background: white;
}

.divider{
  margin-top: 25px;
  margin-left: 20px;
  height: 100px;
  width:1px;
  background: black;
}

.footer{
  position: absolute;
  bottom: 0;
  height: 150px;
  background: rgb(128, 128, 128, .5);
  width: 100%;
}
